* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: "Segoe UI";
}

html {
    scroll-behavior: smooth;
}

.navbar a:hover,
.dropdown button:hover {
    background-color: #10b410;
    transition: background-color 0.5s;
    box-shadow: 0 0 15px 4px #00ff00;
    transition: box-shadow 0.1s;
}

.table tbody tr:hover {
    box-shadow: 0 0 15px 4px #00ff00;
    transition: box-shadow 0.1s;
}

.dropdown button:hover i {
    color: #fc0909;
    transition: color 0.5s;
    text-shadow: 0 0 5px #fc0909;
    transition: text-shadow 0.1s;
}

.fas, .far {
    margin-right: 0.5rem;
    font-size: 1rem;
    color: #00ff00;
}

.parallax {
    width: 100%;
    height: 36.25rem;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}