* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family: "Segoe UI";
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;

    position: fixed;
    overflow: hidden;

    background-color: black;
}

header a {
    padding: 0.75rem 0.9375rem;

    display: block;
    float: left;

    color: white;
    text-align: center;
    text-decoration: none;
}

header a:hover,
.dropdown .dropbtn:hover,
.dropdown-content a:hover {
    background-color: #00cc00;
    transition: background-color 0.5s;
}

main {
    width: 100%;
    overflow: hidden;
}

article {
    width: 100%;

    display: inline-block;
    background-color: #282E34;
    color: #ddd;
}

article p {
    padding: 0 7rem;

    text-align: left;
}

article ul {
    margin: 1rem 0;
}

article li {
    padding: 0 9rem;
}

h3 {
    padding: 2rem;
    
    text-transform: uppercase;
    text-align: center;
    font-family: "Arial";
    font-size: 1.5rem;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    margin: 0;
    border: 0;
    padding: 0.75rem 0.9375rem;
    
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    font-size: 1rem;
}

.dropdown-content {
    min-width: 11rem;
    
    display: none;
    position: fixed;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    padding: 0.75rem 0.9375rem;
    
    display: block;
    float: none;
    color: white;
    text-decoration: none;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fas, .far {
    margin-right: 0.5rem;
    font-size: 1rem;
    color: #00cc00;
}

.parallax {
    width: 100%;
    height: 36.25rem;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-info {
    margin: 0 0 0 1rem;
    width: 30%;
    height: 10rem;
    
    display: block;
    float: left;
}

.contact-info li {
    margin: 0.5rem 0 0 4rem;
    padding: 0;
    width: 100%;

    list-style-type: none;
}

.contact-num {
    margin-left: 1rem;
}